version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "3001:3001"
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: always

  frontend:
    build: .
    ports:
      - "3000:80"
    container_name: emlak-muhasebe-app
    restart: always
    depends_on:
      - backend
